<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Modify Page</h1>
            <th:block th:with="auth=${#authentication.getPrincipal()}">
                <form action="/member/modify" method="post">
                    <div class="my-3">
                        <label for="e">E-mail : </label>
                        <input type="text" class="form-control" name="email" id="e" th:value="${auth.mvo.email}">
                    </div>
                    <div class="my-3">
                        <label for="p">Password :</label>
                        <input type="password" class="form-control" name="pwd" id="p" placeholder="pwd...">
                    </div>
                    <div class="my-3">
                        <label for="n">Nick_Name : </label>
                        <input type="text" class="form-control" name="nickName" id="n" th:value="${auth.mvo.nickName}">
                    </div>
                    <button type="submit" class="btn btn-primary">Modify</button>
                </form>
            </th:block>
        </div>
    </th:block>
</th:block>
</html>