<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Register Page</h1>
            <form action="/member/register" method="post">
                <div class="my-3">
                    <label for="email">E-mail : </label>
                    <input type="text" class="form-control" name="email" id="e" placeholder="e-mail...">
                </div>
                <div class="my-3">
                    <label for="pwd">Password :</label>
                    <input type="password" class="form-control" name="pwd" id="p" placeholder="pwd..">
                </div>
                <div class="my-3">
                    <label for="nickName">Nick_Name : </label>
                    <input type="text" class="form-control" name="nickName" id="n" placeholder="nickName..."
                    >
                </div>
                <button type="submit" class="btn btn-primary">JOIN</button>
            </form>
        </div>
    </th:block>
</th:block>
</html>